<div class="first-home-view">
  <%= render 'shared/header' %>
  <div class="result-genre-full">
    <div class="result-users-name-title">
      <p>Users</p>
    </div>
  </div>
  <div class="top-contents">

    <aside class="sidebar_left">
      <%= render 'shared/sidebar_left' %>
    </aside>
    <article class="users-article">
      <%= render 'shared/users' %>
    </article>
    <aside class="sidebar_right">
      <%= render 'shared/sidebar_right' %>
    </aside>
  </div>
</div>
</div>





