<div id="footer">
    <div class="footer-copy">
        <p>&copy; 2023 Daiki-Kato</p>    
    </div>
    <div class="footer-list">
        <ul>
            <li><%= link_to "お問い合わせ", root_path, class: "footer-text" %></li>
            <li><%= link_to "利用規約", root_path, class: "footer-text" %></li>
            <li><%= link_to "プライバシーポリシー", root_path, class: "footer-text" %></li>
            <li><%= link_to "運営者情報", root_path, class: "footer-text" %></li>
        </ul>
    </div>
</div>