/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

body {
  margin: 0px;
}

.wrapper {
  max-width: 100%;
  margin: 0px auto;
  padding: 0 4%;
}


#footer {
  display: flex;
  background-color: #DDA456;
  justify-content: space-between;
  padding: 10px 0px;
}

.footer-copy p {
  color: #fff;
  margin-left: 20px
}

.footer-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}

.footer-list:last-child {
  margin-right: 50px
}

.footer-text {
   color: #900630;
}

.sidebar-full,
.sidebar-content {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sidebar {
  margin-right: 30px;
}

.sidebar-content {
  margin-left: 30px;
}

.sidebar-content, 
.sidebar-contents {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
}

.sidebar-menu p {
  border-left: 5px solid #0CCC31;
  font-size: 19px;
  font-weight: bold;
}

.sidebar-list li {
  list-style: none;
  margin-bottom: 10px;
}

.sidebar-left-btn {
  background-color: #fff;
  padding: 8px 0px;
  margin-top: 20px;
  border-radius: 5px;
}

.sidebar-left-btn p {
  text-align: center;
  font-family: "凸版文久明朝";
  font-size: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.home-link span {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
  color: #000
}

.home-link span:hover,
.icon-link span:hover {
  opacity: 0.5;
}

.icon-link span {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
  color: #000
}

.sidebar-btn {
  text-align: center;
  margin: 15px 0px;
}

.sidebar-btn-link {
  display: inline-block;
  padding: 0.8em 6em;
  background-color: #ED8900;
  box-shadow: 0 5px 0 #C47405;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-btn-link:active {
  font-color: #fff;
  box-shadow: none;
  transform: translateY(5px);
}

.search-key {
  border-left: 5px solid #2076EB;
  font-size: 19px;
  font-weight: bold;
}

.search-genre {
  border-left: 5px solid #EB5720;
  font-size: 19px;
  font-weight: bold;
}

.search-form input[type="text"] {
  width: 65%;
  height: 31px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin-left: 25px;
}

.search-form input[type="submit"] {
  height: 33px;
}

article {
  width: 70%;
}

aside .sidebar_left {
  width: 20%;
}

aside .sidebar_right {
  width: 10px;
}

.top-contents {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px;
}

.header-home {
  display: flex;
  justify-content: space-between;
}

.header-home .logo a img {
  width: 180px;
  margin: 5px 0px 0px 5px;
}


.search-genre-li {
  color: #000;
  font-size: 18px;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
}

.first-home-view {
  position: relative;
  width: 100vw;
  margin: 0px;
  background-size: cover;
  background-position: center top;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-image: url(../assets/background-image3.jpeg);
}

.article-inner {
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 0px; 
  padding: 0px 30px; 
}

.article-inner:first-child ,
.article-inner p:first-child {
  margin-top: 0px;
}

.article-upper-half {
  display: flex;
  justify-content: space-between;
}

.article-lower-half {
  display: flex;
}

.article-title {
  margin-top: 3px;
  padding-top: 5px;
}

.article-time {
  margin-left: 25px;
  padding-top: 18px;
  color: rgba( 0, 0, 0, 0.4);
  font-size: 12px;
}

.article-title a {
  font-size: 25px;
  font-family: "游ゴシック体";
  font-weight: bold;
  background: linear-gradient(transparent 80%, #00FFC4 75%);
  color: #000;
}

.article-user-name {
  color: rgba( 0, 0, 0, 0.4);
  font-size: 14px;
  padding-top: 18px;
  margin: 0px 10px 0px 10px;
}

.article-user-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 55px;
  height: 55px;
}

.upper-left,
.upper-right {
  display: flex;
  margin-top: 6px;
}

.article-effort {
  width: 40%;
}

.article-eval {
  width: 60%;
}

.article-effort p {
  background-color: #FF0058;
  text-align: center;
  color: #fff;
  width: 48%;
  border-radius: 30px;
  font-size: 18px;
  margin: 0px;
}

.article-effort-content {
    font-size: 16px;
    margin: 10px 0px 10px 10px;
}

.article-real p {
  background-color: #FF8900;
  text-align: center;
  color: #fff;
  width: 25%;
  border-radius: 30px;
  font-size: 18px;
  margin: 0px;
}

.article-real-contents {
  margin: 10px 0px;
}

.eval-lower {
  display: flex;
  justify-content: space-between;
}

.article-comments-favorites {
  display: flex;
}

.article-genre {
  display: flex;
}

.article-favorites,
.article-comments {
  margin: 5px 10px 0px 0px;
}

.article-favorites:first-child {
  margin-left: 10px;
}

.article-genre-title {
  margin-right: 10px;
}

.article-genre-title p {
  background-color: #14B100;
  color: #fff;
  padding: 0px 8px;
}
