/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
  text-decoration: none;
}

body {
  margin: 0px;
}

.wrapper {
  max-width: 100%;
  margin: 0px auto;
  padding: 0 4%;
}


#footer {
  display: flex;
  background-color: #DDA456;
  justify-content: space-between;
  padding: 10px 0px;
}

.footer-copy p {
  color: #fff;
  margin-left: 20px
}

.footer-list li {
  list-style: none;
  display: inline-block;
  margin: 0px 20px;
}

.footer-list:last-child {
  margin-right: 50px
}

.footer-text {
   color: #900630;
}

.sidebar-full {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.sidebar {
  margin-right: 30px;
}

.sidebar-contents {
    border: 1px solid #000;
}

.sidebar-menu p {
  border-left: 5px solid #0CCC31;
  font-size: 25px;
  font-weight: bold;
}

.sidebar-list li {
  list-style: none;
  margin-bottom: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

.home-link span {
  font-size: 24px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
  color: #000
}

.home-link span:hover,
.icon-link span:hover {
  opacity: 0.5;
}

.icon-link span {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
  color: #000
}

.sidebar-btn {
  text-align: center;
  margin: 20px 0px;
}

.sidebar-btn-link {
  display: inline-block;
  padding: 0.8em 3em;
  background-color: #3C4BFF;
  box-shadow: 0 5px 0 #0014FF;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.sidebar-btn-link:active {
  font-color: #fff;
  box-shadow: none;
  transform: translateY(5px);
}

.search-key {
  border-left: 5px solid #2076EB;
  font-size: 25px;
  font-weight: bold;
}

.search-genre {
  border-left: 5px solid #EB5720;
  font-size: 25px;
  font-weight: bold;
}

.search-form input[type="text"] {
  width: 65%;
  height: 31px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  margin-left: 25px;
}

.search-form input[type="submit"] {
  height: 33px;
}

article {
  width: 78%;
}

aside {
  width: 22%;
}

.top-contents {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 50px;
}

/* Home画面 */

.header-home {
  display: flex;
  justify-content: space-between;
  background-color: #DDA456;
}

.header-home .logo a img {
  width: 180px;
  margin: 5px 0px 0px 5px;
}

