// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header-home {
  display: flex;
  justify-content: space-between;
  background-color: #DDA456;
}

.header-home .logo a img {
  width: 180px;
  margin: 5px 0px 0px 5px;
}

article {
  width: 78%;
}

aside {
  width: 22%;
}

.top-contents {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 50px;
}
