// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.result-notifications-main-full {
  margin-bottom: 0px;
}

.result-activities-name-title {
  width: 25%;
}

@media (max-width: 1000px) {
 .result-activities-name-title {
    width: 35%;
  } 
}

@media (max-width: 700px) {
 .result-activities-name-title {
    width: 60%;
  } 
}

@media (max-width: 500px) {
 .result-activities-name-title {
    width: 65%;
  } 
}

.result-notifications-name-title {
  width: 15%;
}

@media (max-width: 900px) {
 .result-notifications-name-title {
    width: 25%;
  } 
}

@media (max-width: 600px) {
 .result-notifications-name-title {
    width: 35%;
  } 
}

.result-notifications-name-title,
.result-activities-name-title {
  margin: 0px auto 8px;
  text-align: center;
  background: linear-gradient(transparent 80%, #08AF35 65%);
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
}

.result-notifications-name-title p,
.result-activities-name-title p {
  color: #fff;
  font-size: 40px;
  margin: 0px;
}

@media (max-width: 1600px) {
 .result-notifications-name-title p,
  .result-activities-name-title p {
    font-size: 36px;
  } 
}

@media (max-width: 1300px) {
 .result-notifications-name-title p,
  .result-activities-name-title p {
    font-size: 34px;
  } 
}

@media (max-width: 900px) {
 .result-notifications-name-title p,
  .result-activities-name-title p {
    font-size: 32px;
  } 
}

@media (max-width: 600px) {
 .result-notifications-name-title p,
  .result-activities-name-title p {
    font-size: 30px;
  } 
}

@media (max-width: 400px) {
 .result-notifications-name-title p,
  .result-activities-name-title p {
    font-size: 28px;
  } 
}

.notification-top {
  display: flex;
}

.notification-content {
  display: flex;
  background-color: #fff;
}

.activity-margin {
  display: block;
  padding-bottom: 10px;

}

.article-notification-image {
  padding-top: 10px;
  width: 10%;
  text-align: end;
}

.article-notification-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 45px;
  height: 45px;
  margin: 15px 5px 5px 5px;
}

@media (max-width: 1300px) {
  .article-notification-image img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 600px) {
  .article-notification-image img {
    width: 30px;
    height: 30px;
  }
}

.chat-user-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 60px;
  height: 60px;
  margin: 15px 5px 5px 5px;
}

.notification-text-time {
  background-color: #fff;
  width: 20%;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.6);
}

.notification-text-time p {
  margin: 0px;
  font-size: 14px;
}

@media (max-width: 1300px) {
  .notification-text-time p {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .notification-text-time p {
    font-size: 8px;
  }
}

.notification-left-name-image {
  width: 35%;
  margin-left: 15px;
}

@media (max-width: 600px) {
 .notification-left-name-image {
    margin-left: 10px;
  } 
}

@media (max-width: 400px) {
 .notification-left-name-image {
    margin-left: 5px;
  } 
}

.notification-text-name {
  margin: 0px 0px 30px 8px;
  font-size: 18px;
}

@media (max-width: 1600px) {
  .notification-text-name {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .notification-text-name {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .notification-text-name {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  .notification-text-name {
    font-size: 9px;
  }
}

@media (max-width: 400px) {
  .notification-text-name {
    font-size: 8px;
  }
}

.notification-text-content {
  width: 65%;
  main-right: 20px;
  font-size: 18px;
}

@media (max-width: 1600px) {
  .notification-text-content {
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .notification-text-content {
    font-size: 15px;
  }
}

.activity-margin-inner {
  margin: 0px auto;
}

@media (max-width: 400px) {
  .activity-margin-inner {
    width: 90%;
    margin: 0px auto;
  }
}

@media (max-width: 900px) {
  .activity-margin-text{
    font-size: 14px;
  }  
}


.destroy_all_notifications {
  background-color: red;
  width: 10%;
  text-align: center;
  padding: 5px 8px;
  margin-left: auto;
  border-radius: 10px;
}

@media (max-width: 1600px) {
  .destroy_all_notifications {
    width: 10%;
  }
}

@media (max-width: 1300px) {
  .destroy_all_notifications {
    width: 15%;
    padding: 5px 3px;
  }
}

@media (max-width: 1300px) {
  .destroy_all_notifications {
    width: 20%;
  }
}

@media (max-width: 500px) {
  .destroy_all_notifications {
    padding: 2px 8px;
  }
}

.destroy_all_notifications h7 {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 1600px) {
  .destroy_all_notifications h7 {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .destroy_all_notifications h7 {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .destroy_all_notifications h7 {
    font-size: 12px;
  }
}

.notification-comment {
  font-size: 16px; 
  color: rgba(0, 0, 0, 0.5);
  margin-left: 30px;
  margin-top: 8px;
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .notification-comment {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .notification-comment {
    font-size: 11px;
  }
}

.notification-comment-dm {
  font-size: 20px; 
  color: rgba(0, 0, 0, 0.5);
  margin-left: 50px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.dm-move {
  margin-left: 18px;
}

.article-chat-name-image {
  margin-top: 38px;
  margin-left: 20px;
  font-size: 20px;
  width: 30%;
}

.article-chat-name-image a {
  color: #fff;
  font-weight: bold;
}

.user-name {
  display: flex;
  justify-content: center;
  background-color: #4DDE90;
  width: 100%;
}

.chat-user-profile {
  margin-left: 50px;
  display: flex;
}

.chat-user-image {
  width: 12%;
}

.chat-user-time {
  width: 60%;
}

.chat-user-time span {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.chat-message-body {
  width: 60%;
}

.chat-delete {
  margin-top: 40px;
}

.rooms-user-link {
  font-size: 14px;
}

.rooms-user-link:hover {
  opacity: 0.5;
}

.no-notification {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
}

@media (max-width: 1300px) {
  .no-notification {
    font-size: 18px;
  } 
}

@media (max-width: 500px) {
  .no-notification {
    font-size: 16px;
  } 
}

.notification-comment-my-content {
  margin-top: 32px;
}

.notification-favorite-content-inner {
  margin-top: 40px;
  margin-left: 15px;
}

.notification-comment-name-content {
  margin-left: 8px;
}