.room-full {
  background-color: #fff;
  margin-bottom: 60px;
}

.posts {
  position: fixed;
  text-align: end;
  bottom: 100px;
  left: 35%;
}

@media (max-width: 1400px) {
 .posts {
    left: 25%;
  } 
}

@media (max-width: 1100px) {
 .posts {
    left: 15%;
  } 
}

@media (max-width: 900px) {
 .posts {
    left: 10%;
    bottom: 110px;
    text-align: center;
  } 
}

@media (max-width: 700px) {
 .posts {
    left: 5%;
  } 
}
 
.post-footer {
  position: fixed;
  bottom: 0; 
  right: 0; 
  width: 100%; 
}

.form-text-field {
  font-size: 16px;
  height: 30px;
  width: 70%;
}

input[type="submit"] {
  height: 35px;
  font-size: 16px;
  color: #fff;
  background-color: #F08B00;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.chat-profile-user-content {
  margin-bottom: 6px;
}

.chat-start-link {
  margin-top: 28px;
}