.first-view-top {
  position: relative;
  height: calc(100vh - 75px);
  width: 100vw;
  margin: 0px;
  background-size: cover;
  background-position: center top;
  background-repeat:  no-repeat;
  background-image: url(../assets/background-image-top.jpg);
}

.content {
  justify-content: center;
}

.box {
  width: 50%;
  height: 450px;
  margin: 100px auto;
  border-radius: 30px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.box_signin {
  width: 50%;
  height: 500px;
  margin: 100px auto;
}

.box-inner {
  padding: 20px 26px;
  border-radius: 30px;
  border: 1px #ddd solid;
  background-color: #fff;
}

.box-table {
    margin: 0px auto;
    width: 100%;
}

.label {
    width: 40%;
}

.table-inner {
    width: 60%;
}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 0px auto 10px;
  padding-bottom: 4px;
  color: #111111;
  text-align: center;
  font-family: "凸版文久ゴシック";
}

.box-email {
  margin-bottom: 13px;
}

.box-email td {
  margin-right: 20px;
}

.box-name {
  margin-bottom: 13px;
}

.box-name td {
  margin-right: 20px;
}

.box-password {
  margin-bottom: 22px;
}

.box-name,
.box-email label,
.box-password label {
  font-weight: 900;
  font-size: 20px;
  padding-left: 2px;
  padding-bottom: 2px;
  font-weight: normal;
  font-family: "凸版文久ゴシック";
}

.box-name input[type="text"], 
.box-email input[type="email"], 
.box-password input[type="password"], {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin: 20px auto 26px;
  width: 20%;
}

.box-login input[type="submit"] {
  border-style: none;
  color: #fff;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#FF8D08,#FFA134);
  border-radius: 30px;
  font-size: 20px;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #FFA134;
}

.box-signin {
  margin: 20px auto 26px;
  width: 20%;
}

.box-signin input[type="submit"] {
  border-style: none;
  color: #fff;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#FF0825,#DE001A);
  border-radius: 30px;
  font-size: 20px;
}

.box-signin input[type="submit"]:hover {
  cursor: pointer;
  background: #FF0825;
}


.box-guest-login {
  margin: 20px auto 26px;
  border-style: none;
  width: 20%;
  height: 31px;
  background: linear-gradient(to bottom,#00c10f, #04A311);
  border-radius: 5px;
  text-align: center;
  padding-top: 4px;
}

.box-guest-login:hover {
  cursor: pointer;
  background: #00c10f
}

.guest-login {
  color: #fff;
  font-size: 20px;
}
