// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*MyPage*/

.mypage-main-inner {
  display: flex;
}

.result-mypage-full {
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .result-mypage-full {
    margin-bottom: 8px;
  }
}

.mypage-common {
  margin: 0px auto;
  text-align: center;
  width: 100%;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
}

.mypage-common p {
  color: #900630;
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

@media (max-width: 1600px) {
  .mypage-common p {
    font-size: 34px;
  }
}

@media (max-width: 1300px) {
  .mypage-common p {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .mypage-common p {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .mypage-common p {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .mypage-common p {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .mypage-common p {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .mypage-common p {
    font-size: 20px;
  }
}

.result-mypage-edit-title {
  width: 50%;
}

@media (max-width: 900px) {
  .result-mypage-edit-title {
    width: 100%;
  }
}

.mypage-image {
  width: 40%;
  margin: 45px 15px 10px 15px;
  text-align: center;
}

.mypage-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 160px;
  height: 160px;
}

@media (max-width: 1200px) {
 .mypage-image {
    width: 100%;
    text-align: center;
    margin: 0px;
  }
  
  .mypage-image img {
    width: 150px;
    height: 150px;
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  .mypage-image img {
    margin-top: 20px;
  }
}

@media (max-width: 700px) {
  .mypage-image img {
    width: 130px;
    height: 130px;
  }
}

.show-mypage-right {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
 .show-mypage-right {
    width: 90%;
    padding-left: 0px;
    text-align: center;
    margin: 0px auto;
  }
}

@media (max-width: 600px) {
 .show-mypage-right {
    padding: 0px;
  }
}

.show-mypage-right p {
  font-size: 22px;
}

@media (max-width: 1600px) {
 .show-mypage-right p {
    font-size: 16px;
  } 
}

.show-mypage-middle {
  background-color: #fff;
  border-radius: 5px;
}

.mypage-article {
  margin: 0px auto;
  width: 53%;
  padding-bottom: 30px;
}

@media (max-width: 900px) {
  .mypage-article {
    width: 95%;
  }
}

.mypage-main {
  display: flex;
  border-radius: 5px;
  background-color: #fff;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
 .mypage-main {
    display: block;
  } 
}

.mypage-title {
  width: 100%;
}

.mypage-contents {
  display: flex;
}

@media (max-width: 600px) {
  .mypage-contents {
    display: block;
  }
}

.mypage-title p {
  font-family: "筑紫A丸ゴシック";
  font-size: 22px;
}

@media (max-width: 1600px) {
  .mypage-title p {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .mypage-title p {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .mypage-title p {
    font-size: 18px;
  }
}

.mypage-title-user-name,
.mypage-title-email,
.mypage-title-introduction {
  width: 40%;
}

@media (max-width: 1600px) {
  .mypage-title-user-name,
  .mypage-title-email,
  .mypage-title-introduction {
    width: 35%;
  }
}

.mypage-title-user-name p,
.mypage-title-email p,
.mypage-title-introduction p {
  font-weight: bold;
}

.mypage-content-user-name,
.mypage-content-email,
.mypage-content-introduction {
  width: 60%;
  font-weight: normal;
}

@media (max-width: 600px) {
  .mypage-title-user-name,
  .mypage-title-email,
  .mypage-title-introduction {
    width: 100%;
    padding: 0px;
    text-align: start;
  }
  
  .mypage-content-user-name,
  .mypage-content-email {
    width: 100%;
    margin: 5px auto 0px;
    text-align: center;
  }
  
  .mypage-content-introduction {
    width: 100%;
    margin-top: 5px;
    padding-left: 5px;
    text-align: start;
  }
}

.mypage-margin p {
  margin-top: 50px;
}

@media (max-width: 1200px) {
  .mypage-margin p {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  
  .mypage-content-introduction {
    text-align: start;
  }
}

@media (max-width: 900px) {
  .mypage-margin p {
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .mypage-title-user-name p,
  .mypage-title-email p,
  .mypage-title-introduction p {
    border-bottom: 1px solid #000;
  }
  
  .mypage-content-user-name p,
  .mypage-content-email p {
    margin-top: 2px;
    font-size: 17px;
  }
  
  .mypage-content-introduction p{
    margin-top: 2px;
    font-size: 15px;
  }
}

.mypage-table {
  margin: 10px auto 0px;
  padding-bottom: 15px;
  width: 95%;
}


.mypage-favorites {
  margin-top: 15px;
  margin-bottom: 30px;
}

.mypage-text,
.mypage-text-time {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1600px) {
  .mypage-text,
  .mypage-text-time {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .mypage-text,
  .mypage-text-time {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .mypage-text,
  .mypage-text-time {
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .mypage-text-time {
    font-size: 12px;
  }
}

.mypage-text-inner,
.mypage-text-inner-time {
  text-align: center;
  font-size: 18px;
}

@media (max-width: 1600px) {
  .mypage-text-inner,
  .mypage-text-inner-time {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .mypage-text-inner, 
  .mypage-text-inner-time {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
  .mypage-text-inner-time {
    font-size: 13px;
  }
}

.mypage-title-post-time,
.mypage-content-post-time {
  width: 20%;
}

@media (max-width: 600px) {
  .mypage-title-post-time,
  .mypage-content-post-time {
    width: 30%;
  } 
}

.mypage-title-post-name,
.mypage-content-post-name {
  width: 45%;
}

@media (max-width: 600px) {
  .mypage-title-post-name,
  .mypage-content-post-name {
    width: 50%;
  }
}

.mypage-content-post-name a:hover {
  opacity: 0.5
}

.mypage-title-post-favorite,
.mypage-content-post-favorite
 {
  width: 20%;
}

@media (max-width: 1200px) {
  .mypage-content-post-favorite span {
    display: none;
  }
  
  .mypage-title-post-favorite,
  .mypage-content-post-favorite {
    width: 20%;
  }
}

.mypage-title-post-comment,
.mypage-content-post-comment {
  width: 30%;
}

@media (max-width: 1200px) {
  .mypage-title-post-comment,
  .mypage-content-post-comment {
    width: 15%;
  }
}

@media (max-width: 600px) {
  .mypage-title-post-comment,
  .mypage-content-post-comment {
    display: none;
  }
}


.mypage-post-icon {
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1600px) {
  .mypage-post-icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 1200px) {
  .mypage-post-icon {
    width: 18px;
    height: 18px;
  }
}

.chat-edit-delete-btn {
  padding-left: 60px;
  text-align: end;
}

@media (max-width: 500px) {
  .chat-edit-delete-btn {
    width: 50%;
    padding-left: 0px;
    margin-left: auto;
  }
}

.mypage-edit-bottom {
  font-size: 20px;
}

.mypage-edit-bottom:hover {
  opacity: 0.5;
}

.mypage-middle-title {
  padding: 6px 0px;
  margin-top: 30px;
}

.mypage-middle-title h1,
.mypage-favorites-title h1 {
  font-size: 24px;
  text-align: center;
  color: #E27900;
  font-weight: bold;
	color: transparent;
	background : rgba(0,0,0,1);
	text-shadow :
		0 0 0.1em rgba(255,255,255,0.05),
		0.01em 0.04em 0.03em rgba(255,255,255,0.4);
	-webkit-background-clip : text;
	border-bottom: 2px solid #000;
}

.mypage-middle-title h1 {
  margin: 10px 0px;
}

.mypage-content-favorites {
  width: 100%;
}

.mypage-favorites-title {
  padding-top: 12px;
}

.mypage-favorites-title h1 {
  margin-bottom: 10px;
  margin-top: 0px;
}

@media (max-width: 1600px) {
  .mypage-middle-title h1,
  .mypage-favorites-title h1 {
    font-size: 22px;
  }
}

@media (max-width: 1300px) {
  .mypage-middle-title h1,
  .mypage-favorites-title h1 {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .mypage-middle-title h1,
  .mypage-favorites-title h1 {
    font-size: 18px;
  }
}

.mypage-favorites {
  background-color: #fff;
  border-radius: 3px;
  margin-top: 40px;
}

.mypage-favorites-table {
  margin: 0px;
  padding-bottom: 10px;
  width: 100%;
}

.mypage-user-name-favorites p,
.mypage-user-name p {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .mypage-user-name-favorites p,
  .mypage-user-name p {
    font-size: 16px;
  } 
}

@media (max-width: 1200px) {
  .mypage-user-name-favorites p,
  .mypage-user-name p {
    font-size: 14px;
  } 
}

.mypage-user-image {
  text-align: center;
  width: 15%;
  margin-right: 20px;
}

@media (max-width: 1200px) {
 .mypage-blank {
   width: 30%;
 }
 
 .mypage-post-middle-favorites {
    display: none;
  }
  
  .mypage-user-name-favorites {
    width: 30%;
  }
}

.mypage-post-name-favorites-content {
  width: 20%;
}

@media (max-width: 1200px) {
 .mypage-post-name-favorites-content {
    width: 30%;
  } 
}

.mypage-user-name {
  color: rgba( 0, 0, 0, 0.4);
  width: 25%;
  text-align: center;
}

@media (max-width: 1200px) {
 .mypage-user-name {
    width: 30%;
  } 
}

.mypage-post-name-favorites p,
.mypage-post-name-favorites-content p {
  font-size: 20px;
}

@media (max-width: 1600px) {
  .mypage-post-name-favorites p,
  .mypage-post-name-favorites-content p {
    font-size: 16px;
  } 
}

@media (max-width: 1200px) {
  .mypage-post-name-favorites p,
  .mypage-post-name-favorites-content p {
    font-size: 14px;
  } 
}

.mypage-post-name-favorites-content p {
  margin-left: 60px;
}

@media (max-width: 1300px) {
   .mypage-post-name-favorites-content p {
    margin-left: 30px;
  } 
}


@media (max-width: 400px) {
  .mypage-post-name-favorites-content p {
    margin-left: 10px;
  } 
}

@media (max-width: 1200px) {
 .mypage-user-image {
    display: none;
  } 
}

.mypage-user-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 70px;   
  height: 70px;
  margin: 5px 5px 0px 5px;
}

@media (max-width: 1600px) {
 .mypage-user-image img {
    width: 60px;
    height: 60px;
  } 
}

.mypage-post-name-favorites {
  width: 40%;
}

.mypage-post-content-favorites {
  margin: 10px 10px;
  text-align: center;
  width: 40%;
}

.mypage-post-content-favorites p {
  font-size: 18px;
  margin: 0px auto;
  width: 90%;
}

@media (max-width: 1600px) {
 .mypage-post-content-favorites p {
    font-size: 16px;
  } 
}

@media (max-width: 1200px) {
 .mypage-post-content-favorites p {
    font-size: 13px;
  } 
}

.mypage-user-name:hover {
  opacity: 0.5;
}

.follow-form-off,
.follow-form-off-users {
  background-color: #00A9F4;
}

.follow-form-on,
.follow-form-on-users {
  border: 2px solid #00A9F4;
}

.follow-form-off,
.follow-form-on,
.follow-form-off-users,
.follow-form-on-users{
  height: 30px;
  margin: 10px 5px 0px;
  padding-top: 10px;
  padding-bottom: 4px;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 1200px) {
  .follow-form-off,
  .follow-form-on {
    margin: 10px 145px 0px;
  } 
}

@media (max-width: 500px) {
  .follow-form-off,
  .follow-form-on, {
    margin: 10px 20px 0px;
  } 
  
  .follow-form-off-users,
  .follow-form-on-users, {
    margin: 10px 0px 0px;
  } 
}

.follow-form-off:hover,
.follow-form-on:hover {
  opacity: 0.5;
}

.follow-form-on a,
.follow-form-off a {
  display: block
}

.follow-off {
  color: #fff;
}

.follow-on {
  color: #00A9F4;
}

.follow-on, 
.follow-off {
  font-size: 16px;
}

@media (max-width: 1200px) {
  .follow-on, 
  .follow-off {
    font-size: 14px;
  }
}

.follow-full-top {
  margin-top: 10px;
}

@media (max-width: 900px) {
 .follow-full-top {
    margin-top: 0px;
  } 
}

.follow-list-inner {
  margin-left: 15px;
}

.follower-list-inner {
  margin: 0px 10px;
}

.follow-list-inner:hover,
.follower-list-inner:hover {
  opacity: 0.5;
} 

@media (max-width: 1600px) {
  .follower-list-inner,
  .follow-list-inner {
    font-size: 14px;
  }
}

.follow-list-inner a,
.follower-list-inner a {
  color: #000; 
} 

.follow-text-inner,
.follower-text-inner {
  font-weight: bold;
}

.show-post-favorite {
  display: flex;
}

.post-user-favorite a {
  font-weight: bold;
}

.post-user-favorite a:hover {
  opacity: 0.5;
}

.chat-btn-link {
  text-align: center;
  margin-top: 17px;
  padding-bottom: 30px;
}

.chat-btn-link input[type="submit"] {
  display: inline-block;
  font-size: 18px;
  height: 50px;
  padding: 0.4em 1.5em;
  background-color: #FF8900;
  box-shadow: 0 5px 0 #BC6C00;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.chat-btn-link input[type="submit"]:active {
  font-color: #fff;
  box-shadow: none;
  transform: translateY(5px);
}

@media (max-width: 900px) {
  .chat-btn-link input[type="submit"] {
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .chat-btn-link input[type="submit"] {
    height: 35px;
    font-size: 14px;
  }
}

.chat-start-link {
  margin: 0px;
}

/*MyPage（編集）*/

.mypage-article-edit {
  width: 53%;
  padding-bottom: 30px;
}

@media (max-width: 1600px) {
 .mypage-article-edit {
    margin-right: 10px;
  } 
}

@media (max-width: 900px) {
 .mypage-article-edit {
   width: 95%;
    margin: 0px auto;
  } 
}

.error-message-new-mypage {
  width: 100%;
  padding: 5px;
  margin: 0px 60px;
  color: red;
  font-weight: bold;
  font-size: 20px;
  text-align: start
}

@media (max-width: 900px) {
   .error-message-new-mypage {
    margin: 0px 40px;
    font-size: 18px;
  } 
}

@media (max-width: 900px) {
   .error-message-new-mypage {
    margin: 0px 10px;
    font-size: 14px;
  } 
}

.form-view-mypage-edit {
  width: 100%;
  background-color: #fff;
  margin: 0px auto;
  border-radius: 20px;
}

.mypage-form-table {
  margin: 0px auto 20px;
  padding-top: 30px;
}

@media (max-width: 900px) {
  .mypage-form-table {
    margin: 0px auto 20px;
    padding-top: 0px;
  } 
}

.mypage-form-name,
.mypage-form-content,
.mypage-form-introduction,
.mypage-form-post-image {
  display: flex;
  width: 100%;
}

@media (max-width: 900px) {
  .mypage-form-name,
  .mypage-form-content,
  .mypage-form-introduction,
  .mypage-form-post-image {
    display: block;
    margin: 10px auto 10px;
  }
}

.mypage-label label {
  color: #000;
  width: 100%;
  border-radius: 13px;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 18px;
}

@media (max-width: 1500px) {
  .mypage-label label {
    font-size: 18px;
  }
}

@media (max-width: 1300px) {
  .mypage-label label {
    font-size: 17px;
  }
}

@media (max-width: 900px) {
  .mypage-label label {
    font-size: 15px;
  }
}

.mypage-form-th {
  width: 40%;
}

.mypage-form-td {
  width: 60%;
}

.mypage-form-th, 
.mypage-form-td {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 900px) {
  .mypage-form-th, 
  .mypage-form-td {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    margin: 0px;
  } 
}

.mypage-form-td {
  margin-right: 10px;
}

@media (max-width: 900px) {
 .mypage-form-th {
    text-align: start;
    margin-left: 50px;
  } 
  
 .mypage-form-td {
    margin: 0px auto;
    width: 80%;
  } 
}


@media (max-width: 500px) {
 .mypage-form-th {
    width: 80%;
    margin: 0px auto;
    border-bottom: 1px solid #000;
    
 }
}

.mypage-name-area::placeholder,
.mypage-text-area::placeholder,
.mypage-genre-area::placeholder,
.mypage-image-area::placeholder {
 font-size: 18px;
}

.mypage-form-name input[type="text"],
.mypage-form-content input[type="text"] {
  font-size: 18px;
  border-style: none;
  box-sizing: border-box;
  width: 90%;
  height: 35px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

@media (max-width: 1500px) {
  .mypage-form-name input[type="text"],
  .mypage-form-content input[type="text"] {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .mypage-form-name input[type="text"],
  .mypage-form-content input[type="text"] {
    font-size: 14px;
  }
}

.mypage-text-area {
  border-style: none;
  font-family: arial;
  font-size: 18px;
  box-sizing: border-box;
  width: 90%;
  height: 150px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

@media (max-width: 1300px) {
  .mypage-text-area {
    font-size: 16px;
  }
}

@media (max-width: 900px) {
  .mypage-text-area {
    font-size: 14px;
  }
}

#user_user_image {
  width: 90%;
  font-size: 16px;
}

@media (max-width: 1300px) {
 #user_user_image {
    font-size: 14px;
  } 
}

@media (max-width: 500px) {
 #user_user_image {
   width: 95%;
    font-size: 12px;
  } 
}

@media (max-width: 400px) {
 #user_user_image {
    font-size: 11px;
  } 
}

.mypage-form-btn {
  text-align: center;
  margin-top: 17px;
  padding-bottom: 30px;
}

.mypage-form-btn input[type="submit"] {
  display: inline-block;
  height: 50px;
  font-size: 20px;
  padding: 0.4em 3em;
  background-color: #8000D0;
  box-shadow: 0 5px 0 #4C007C;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .mypage-form-btn input[type="submit"] {
    font-size: 18px;
  }
}

@media (max-width: 900px) {
  .mypage-form-btn input[type="submit"] {
    font-size: 16px;
    height: 30%;
    padding: 0.3em 2em;
  }
}

@media (max-width: 500px) {
  .mypage-form-btn input[type="submit"] {
    font-size: 14px;
    height: 25%;
  }
}

.mypage-form-btn input[type="submit"]:active {
  font-color: #fff;
  box-shadow: none;
  transform: translateY(5px);
}

/*Users*/
.users-article {
  width: 53%;
  padding-bottom: 30px;
}

@media (max-width: 1300px) {
  .users-article {
     margin-right: 10px;
  }
}

@media (max-width: 900px) {
 .users-article {
    width: 90%;
    margin: 0px auto;
    padding-bottom: 20px;
  } 
}

@media (max-width: 500px) {
 .users-article {
    width: 98%;
 }
}

.users-inner {
  background-color: #fff;
  border-radius: 30px;
  margin: 20px 0px;
}

@media (max-width: 900px) {
 .users-inner {
    margin-top: 0px;
  } 
  
  .users-inner:last-child {
    margin-bottom: 0px;
  }
}

.users-full {
  display: flex;
  padding: 0px 15px 10px;
  background-color: #fff;
  border-radius: 30px;
  
}

@media (max-width: 900px) {
  .users-full {
    display: block;
  }
}

.users-full:first-child {
  margin-top: 0px;
}

.article-users-image {
  width: 15%;
  text-align: center;
}

.article-users-image img {
  border-radius: 50%;
  border: 1px solid #EAEAEA;
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

@media (max-width: 1600px) {
  .article-users-image {
    width: 15%;
    text-align: center;
  }
  
 .article-users-image img {
    width: 70px;
    height: 70px;
    margin-top: 25px;
  } 
}


@media (max-width: 1400px) {
 .article-users-image img {
    margin-top: 30px;
  } 
}

@media (max-width: 900px) {
  .article-users-image {
    height: 70px;
    margin-left: auto;
    margin-right: 20px;
  }
  
  .article-users-image img {
    margin: 10px;
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
  } 
}

@media (max-width: 500px) {
  .article-users-image {
    height: 70px;
    margin-left: auto;
    margin-right: 18px;
  }
  
  .article-users-image img {
    margin: 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
  } 
}

.users-middle {
  width: 35%;
}

@media (max-width: 900px) {
  .users-middle {
    width: 100%;
    margin: 0px;
  }
}

.users-right {
  width: 50%;
}

@media (max-width: 900px) {
  .users-right {
    width: 100%;
  }
}

.users-follow-list {
  width: 60%;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .users-follow-list {
    width: 75%;
  }
}

@media (max-width: 900px) {
  .users-follow-list {
    width: 45%;
  }
}

.article-users-name {
  text-align: center;
}

@media (max-width: 1100px) {
  .article-users-name {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .article-users-name {
    font-size: 18px;
  }
}

.article-users-name:hover {
  opacity: 0.5;
}

.users-title-name p,
.users-title-introduction p {
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  margin: 15px 20px;
  border-bottom: 1px solid #000;
}

@media (max-width: 1600px) {
  .users-title-name p,
  .users-title-introduction p {
    font-size: 17px;
    text-align: start;
  } 
}

@media (max-width: 1300px) {
  .users-title-name p,
  .users-title-introduction p {
    font-size: 15px;
  } 
}

@media (max-width: 1100px) {
  .users-title-name p,
  .users-title-introduction p {
    font-size: 14px;
  } 
}

@media (max-width: 900px) {
  .users-title-name p,
  .users-title-introduction p {
    font-size: 18px;
    margin-top: 0px;
  } 
}

.article-users-introduction p {
  margin: 0px 20px;
}

@media (max-width: 1300px) {
  .article-users-introduction p {
    font-size: 15px;
  }
}

@media (max-width: 1100px) {
  .article-users-introduction p {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  .article-users-introduction p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.result-users-name-title {
  margin: 0px auto 8px;
  text-align: center;
  width: 20%;
  background: linear-gradient(transparent 80%, #ED31ED 65%);
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
}

@media (max-width: 1300px) {
  .result-users-name-title {
    width: 30%;
  }
}

@media (max-width: 700px) {
  .result-users-name-title {
    width: 35%;
  }
}

@media (max-width: 500px) {
  .result-users-name-title {
    width: 40%;
  }
}

@media (max-width: 400px) {
  .result-users-name-title {
    width: 55%;
  }
}

.result-users-name-title p {
  color: #fff;
  font-size: 40px;
  margin: 0px;
}

@media (max-width: 1600px) {
  .result-users-name-title p {
    font-size: 36px;
  }
}

@media (max-width: 1300px) {
  .result-users-name-title p {
    font-size: 34px;
  }
}

@media (max-width: 1000px) {
  .result-users-name-title p {
    font-size: 32px;
  }
}

@media (max-width: 700px) {
  .result-users-name-title p {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .result-users-name-title p {
    font-size: 28px;
  }
}

.result-users-search-name-title {
  background: linear-gradient(transparent 80%, #ED31ED 65%);
} 

.post_learning-search-result, 
.post_learning-index-result {
  background: linear-gradient(transparent 80%, #00FFC4 65%);
}

.post_learning-index-result,
.result-users-search-name-title, 
.post_learning-search-result {
  margin: 0px auto 8px;
  text-align: center;
  width: 60%;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
}

@media (max-width: 900px) {
  .post_learning-index-result,
  .result-users-search-name-title, 
  .post_learning-search-result {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .post_learning-index-result,
  .result-users-search-name-title, 
  .post_learning-search-result {
    width: 90%;
  }
}

.result-users-search-name-title p,
.post_learning-search-result p, 
.post_learning-index-result p {
  color: #fff;
  font-size: 36px;
  margin: 0px;
}

@media (max-width: 1600px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 34px;
  }
}

@media (max-width: 1300px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 32px;
  }
}

@media (max-width: 1000px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 30px;
  }
}

@media (max-width: 900px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 28px;
  }
}

@media (max-width: 700px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 24px;
  }
}

@media (max-width: 400px) {
  .result-users-search-name-title p,
  .post_learning-search-result p, 
  .post_learning-index-result p {
    font-size: 22px;
  }
}

.notification-link span {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
  font-family: "筑紫A丸ゴシック";
  font-weight: bold;
  color: #000
}

.notification-margin, 
.news span {
  margin-left: 10px;
}

.notification-link span:hover {
  opacity: 0.5;
}